/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  margin: auto;
  margin-left: 0;
  color: #202020;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
}
#page_background {
  background-color: #fafafa;
}
#top_bar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 44px;
  top: 0;
  position: fixed;
  z-index: 200;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: solid 1px #ca2100;
  background-color: #db4c3f;
  width: 100vw;
  -webkit-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

#top_bar_inner {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 992px;
  padding-left: 13px;
  position: relative;
}
.left_menu_toggle {
  display: none;
  padding: 5px 0px;
  padding-right: 5px;
  color: white;
}
#logo {
  float: left;
  padding-top: 7px;
}
#logo svg {
  width: 24px;
  height: 24px;
  padding: 2px;
  color: white;
}
#logo svg:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#top_icons {
  border: 0;
  float: right;
  white-space: nowrap !important;
  padding-right: 12px;
  height: 100%;
}

#top_icons > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  float: left;
  height: 100%;
  margin-left: 10px;
  cursor: pointer;
}
#top_icons > span svg {
  color: white;
}
#top_icons #quick_add_task {
  color: white;
  position: relative;
}
#quick_add_task svg:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#top_completed_holder {
  position: relative;
}
#top_completed_holder a {
  color: gray;
  white-space: nowrap;
  text-decoration: none;
}
#top_completed {
  min-width: 15px;
  font-weight: bold;
  font-size: 11px;
  padding: 2px 4px;
}
.completed_pie {
  display: flex;
  align-items: center;
}
.completed_pie .count {
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  margin-left: 5px;
  white-space: nowrap;
  line-height: 1;
  color: white;
}
#top_completed_holder a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#top_notifications svg:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#top_gear svg:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#quick_find {
  white-space: nowrap;
  margin-left: 292px;
  padding-top: 6px;
}
#quick_find svg {
  color: white;
}

.search_icon {
  position: absolute;
  z-index: 15;
  margin-top: 4px;
  margin-left: 3px;
  cursor: text !important;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
.quick_find {
  border: 1px solid transparent !important;
  border-radius: 3px;
  padding: 5px;
  width: 300px;
  box-sizing: border-box;
  outline: 0;
  color: white;
  padding-left: 30px;
  margin-top: 2px;
  background: 0;
  transition: width 0.2s ease-in;
}
.quick_find:hover li {
  background-color: rgba(255, 255, 255, 0.2);
}

.quick_find::-webkit-input-placeholder {
  color: white;
}

/* ------CONTENT------------ */

#app_holder {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: calc(100vh);
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}
#content_app {
  width: 992px;
  background-color: sandybrown;
}
#left_menu {
  width: 266px;
  height: calc(100vh - 50px);
  padding-top: 74px;
  padding-left: 32px;
  margin-left: -32px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: 1px solid #f1f1f1;
  background-color: #fafafa;
}

#list_holder {
  width: 265px;
  padding-bottom: 30px;
}
#top_filters {
  margin: 0;
  padding: 0;
}
#top_filters li {
  min-height: 24px;
  font-size: 14px;
  color: #333;
  list-style: none;
  cursor: pointer;
  padding: 5px 16px 5px 5px;

  transition: color 0.1s ease-in, background-color 0.1s ease-in;
  line-height: 1.25;
  display: flex;
  border-radius: 3px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#top_filters li:hover {
  background-color: #fff;
  font-weight: bold;
}
#filter_inbox .item_icon svg {
  color: #246fe0;
}
#top_filters li .item_icon {
  width: 28px;
  height: 24px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
  margin-top: -1px;
  font-size: 14px;
  color: #555;
}
#top_filters li .item_content {
  display: inline-block;
  width: 187px;
  vertical-align: top;
  min-height: 24px;
  line-height: 24px;
  word-break: break-all;
  word-break: break-word;
}
small {
  font-size: smaller;
}
#top_filters li .item_counter {
  display: inline-block;
  color: #777;
  font-size: 11px;
  margin-left: 5px;
}
#top_panel {
  padding-left: 0px;
}
#top_panel li {
  display: flex;
  font-size: 20px;

  width: 100%;
  padding: 5px 5px 5px 5px;
}
.panel_toggle {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  float: right;
  border: hidden;
  background: 0;
}
.panel:hover {
  background-color: gainsboro;
  border: hidden;
}
.panel_toggle_icon {
  width: 230px;

  font-weight: 600;
}
.panel_toggle_icon svg {
  float: left;
}
.panel_toggle_icon span {
  float: left;
  padding-left: 10px;
}
.adder_icon {
  font-size: 20px;
  border: white;
  background: 0;
}

#content {
  min-height: 380px;
  background-color: #fff;
  margin-left: 266px;
  border-right: 1px solid #f1f1f1;
  min-height: calc(100vh);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.6, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.6, 1);
}

#editor {
  vertical-align: top;
  padding-left: 44px;
  padding-right: 14px;
  padding-top: 80px;
  padding-bottom: 84px;
}
#agenda_view .section_day,
#agenda_view .section_overdue {
  margin-bottom: 40px;
}
.section_header {
  margin: 0 0 0 0 !important;
  padding: 0 30px 6px 0 !important;
}
.section_header,
.section_header a {
  font-size: 20px !important;
  font-weight: 600;
}
.section_header {
  margin: 0 0 0 0 !important;
  padding: 0 30px 6px 0 !important;
}
#agenda_view .agenda_add_task {
  padding: 0 0 0 3px !important;
  font-size: 13px !important;
  -webkit-transition: opacity 150ms ease-in;
  transition: opacity 150ms ease-in;
  cursor: pointer;
  height: 3em;
  line-height: 3em;
  margin-left: -7px;
}
.section_header a {
  color: black;
  text-decoration: none;
}
.section_header small {
  color: gray;
  margin-left: 6px;
  font-size: 11px;
  font-weight: normal;
}
.items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#agenda_view .agenda_add_task .action {
  color: #808080 !important;
  padding-left: 4px;
}
a.action {
  cursor: pointer;
  padding: 1px;
  text-decoration: none;
  color: #dd4b39;
  font-size: 14px;
}
#agenda_view .agenda_add_task .action .icon_add {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: #dd4b39;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 17px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 13px;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  vertical-align: 7px;
  width: 17px;
}

.section_header a:hover {
  text-decoration-line: underline;
}
.agenda_add_task a:hover {
  color: red;
}
#add_a_task {
  background-color: #dd4b39;
  margin-left: 250px;
  color: white;
  padding: 6px 12px 7px 12px;
  text-decoration: none;
  cursor: pointer;
  line-height: 17px;
  border: solid 1px transparent;
  border-radius: 3px;
}

li.listTask {
  margin-left: -35px;
  background-color: #246fe0;
  background: none !important;
  padding: 4px !important;
  margin-bottom: 9px;
}

li.listTaskUpdate {
  background-color: #246fe0;
  background: none !important;
  padding: 4px !important;
  margin-bottom: 9px;
  margin-left: -16px;
  margin-top: -20px;
}
#editor li.listTask form {
  margin-top: 1px;
  /* margin-right: 28px; */
}

li.listTask .listTask_editor {
  width: auto;
}

.listTask_top {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 3px;
  border-collapse: separate !important;
  margin-bottom: 6px;
}

.listTask_input {
  /* line-height: 21px; */
  flex-grow: 1;
  border: 0;
  outline: 0;
  border-right: 1px solid #ddd;
  word-break: break-word;
}

.lst_input {
  font-size: 14px;
  outline: 0;
  width: 520px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 2px;
  color: #202020;
  box-sizing: border-box;
  transition: width 0.2s ease-in;
  border: 1px solid transparent !important;
}

.lst_input1 {
  font-size: 14px;
  outline: 0;
  width: 450px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 2px;
  color: #202020;
  box-sizing: border-box;
  transition: width 0.2s ease-in;
  border: 1px solid transparent !important;
}
.listTask_date {
  display: flex;
}

.btn_date {
  width: 128px;
  align-items: flex-end;
  outline: 0;
}

.btn_editor {
  /* display: flex; */
  align-items: center;
}

.btn_editor .iteam_action {
  margin-left: auto;
  -webkit-box-ordinal-group: 4;
  order: 3;
}

.iteam_actions {
  float: right;
  display: flex;
  height: 24px;
  flex-shrink: 0;
  margin-left: 10px;
}

.item_actions .item_action {
  display: inline-block;
  color: gray;
  cursor: pointer;
}
.iteam_action svg:hover {
  background-color: #ddd;
}

.tooltip_warper {
  display: inline-block;
  max-width: 100%;
  cursor: unset;
  margin-left: 12px;
}

button {
  font-size: 13px;
  color: #202020;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
}

/* button:disabled {
  opacity: .3;
} */
.item_editor_submit {
  cursor: pointer;
  margin-right: 5px;

  background: none;
  background-color: #db4c3f;
  color: #ffffff !important;
  text-shadow: none;
  border: 1px solid transparent;

  font-weight: bold;
  font-size: 13px !important;
  line-height: 17px;
  padding: 6px 12px 7px 12px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: 3px !important;
}

.item_editor_submit:hover {
  border: solid 1px black;
}
.cancle {
  color: #555;
  cursor: pointer;
  font-size: 13px;
  padding: 2px 9px;
  white-space: nowrap;
  margin-left: 5px;
}

.cancel:hover,
.cancel_link:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
}

/* ----------------LIST TASK------------*/

.task_item {
  padding-right: 40px;
  padding: 0 40px 0 0;
  font-size: 14px;
  position: relative;
  border-radius: 3px;
  margin-left: -65px;
  display: flex;
}
.task_item_detail {
  flex-grow: 1;
  display: flex;
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #f0f0f0;
  line-height: 21px;
}

.checker {
  padding-right: 15px;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #404040;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  line-height: 16px;
  border: 1px solid #808080;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 2px 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  transition: background-color 150ms ease-in;
}

.content_task {
  width: 625px;
  cursor: text;
  -webkit-user-select: text !important;
  user-select: text !important;
  line-height: 21px;
  position: relative;
  margin-top: 4px;
  display: inline-block;
}
.content_task_text {
  cursor: text;
}

/*-----Test-------------*/
.btn_generateData {
  margin-left: 10px;
  font-size: 17px;
  outline: 3;
  border: grey;
}

/*--------TopBar--Search------*/
.list_search {
  background-color: white;
  padding-top: -5px;
  white-space: nowrap;
  margin-left: 0px;
  width: 300px;
  margin-top: 9px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0px 3px 6px 0px #666;
  border-radius: 3px;
}
.list_search li {
  background-color: white;
  margin-left: -40px;
  width: 300px;
  padding-top: -2px;
}

.list_search_detail {
  display: flex;
  font-size: 14px;

  line-height: 21px;
  padding: -2px 10px 10px 10px;
}

.content_search {
  cursor: text;
  user-select: text !important;
  line-height: 21px;
  position: relative;
  padding-left: -10px;
  -webkit-user-select: text !important;
  user-select: text !important;
}

.checkbox1 {
  width: 18px;
  height: 18px;
  cursor: pointer;
  color: #404040;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  line-height: 16px;
  border: 1px solid #808080;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 2px 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  transition: background-color 150ms ease-in;
}

.item_icon {
  width: 28px;
  height: 24px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
  margin-top: -1px;
  font-size: 14px;
  color: blue;
}
/*-----------------Edit---Task-----------------------------77777777777777777777777777777777777777777777-*/
.display {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadein 0.2s;
  z-index: 201;
  background: gray;
  overflow: auto;
  /* opacity: 0.6; */
}

.modal_edit_task {
  width: 100%;
  background: 0;
  background-color: white;
  max-width: 650px;
  border-radius: 10px;
  max-height: 960px;
  left: 30%;
  top: 5%;
  margin: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  height: calc(100vh - 2 * 20px);
  position: absolute;
  padding: 0;
  outline: 0;
}

.modal_content {
  box-sizing: border-box;
  height: 100%;
  padding: 20px 24px;
}
.item_detail_header {
  padding-bottom: 0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_detail_paren_info {
  display: flex;
  align-items: center;
  max-width: 250px;
  margin: 0;
  text-decoration: none;
}

button {
  font-size: 13px;
  color: #202020;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
}

.item_detail_paren_icon {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 10px;
  margin-left: 2px;
  color: blue;
}

.item_overview {
  display: flex;
  padding-bottom: 0.5em;
  flex-shrink: 0;
}

.item_checkbox {
  border: 1px solid gray;
  width: 18px;
  height: 18px;
  border-radius: 16px;
  margin: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-color: gray;
  color: gray;
}

.item_checkbox svg {
  border: 1px solid transparent;
  height: 16px;
  width: 16px;
  margin-left: -8px;
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 1, 1);
  transition: opacity 150ms cubic-bezier(0.4, 0, 1, 1);
  margin-top: -8px;
  pointer-events: none;
  opacity: 0;
}

.item_checkbox:hover {
  background-color: #eee;
  z-index: 400;
}

.checker div:hover svg {
  opacity: 1;
}

.item_overview button:hover svg {
  opacity: 1;
}

.item_overview_main {
  margin-left: 10px;
  flex-grow: 1;
  -webkit-box-flex: 1;
}

.item_overview_content {
  text-align: left;
  width: 100%;
  font-size: 18px;
  padding-top: 2px;
  line-height: 23px;
  align-items: center;
  cursor: text;
  user-select: text;
  max-height: 80.5px;
  overflow-y: auto;
  word-break: break-word;
}

.item_overview_sub {
  display: flex;
  flex-flow: row wrap;
  margin-top: 6px;
  max-height: 80px;
  min-height: 33px;
  overflow: auto;
}

.item_overview_sub > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 28px;
  height: 28px;
  padding: 0 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #555;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item_due_selector {
  display: flex;
  align-items: center;
}

.item_due_btn {
  display: flex;
  height: 26px;
  line-height: 26px;
  color: green;
}

.calendar_icon {
  display: flex;
  align-items: center;
}

.calendar_icon svg {
  display: block;
  margin-right: 4px;
  margin-left: -2px;
}

.date_today {
  line-height: inherit;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.item_overview_footer {
  display: flex;
  margin-top: 6px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: center;
}

.tabs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-box-flex: 1;
}

.tabs [role="tablist"] {
  display: flex;
  border-bottom: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.tabs [role="tab"] {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 13px;
  line-height: 1em;
  padding: 9px 0;
  margin: 0;
  color: gray;
  border-bottom: 1px solid #e0e0e0;
}

.reactist {
  line-height: 1em;
  font-size: 13px;
  font-weight: bold;
  color: #202020;
  border-bottom: solid 1px #202020;
}

.checkbox svg:hover {
  opacity: 1;
}

/*-------------------------------------------Drag, Drop and menu for task-----------------------*/

/* .task_item:hover {
  opacity: 0.5;
} */

.task_item div:hover .drag_and_drop_handler {
  opacity: 0.5;
}

.drag_and_drop_handler {
  cursor: move;
  width: 18px;
  height: 24px;
  margin-right: 7px;
  opacity: 0;
}

.task_item_actions {
  display: flex;
  position: absolute;
  top: 0;
  cursor: pointer;
  top: 0;
  right: 4px;
  right: 4px;
  margin-top: 10px;
  opacity: 0;
}
.task_item:hover > .task_item_actions {
  opacity: 1;
}

.task_item .task_item_actions > * {
  display: inline-block;
  margin-left: 10px;
  width: 24px !important;
  height: 24px !important;
  border-radius: 1px;
  cursor: pointer !important;
}

.tooltip svg:hover {
  background-color: #eee;
}
.icon_menu {
  margin-top: -10px;
}

/******** Tooltip ************/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;

  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 0px 5px 0px 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/******************** POPUP EDIT ***********************/

.popup_edit {
  position: absolute;
  /* top: 30px;
  left: 200px; */
  cursor: default;
  z-index: 504;
  background-color: #fafafa;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #ddd;
}

.popup_edit table {
  border-collapse: collapse;
  padding: 0;
  margin: 4px 0;
  min-width: 250px;
}

.menu_item {
  padding: 4px 10px;
  text-decoration: none !important;
}

.popup_edit .menu_item_edit > td {
  padding-bottom: 4px;
  padding-top: 4px;
}
.popup_edit td {
  padding: 8px 10px;
  margin: 0;
}

.menu_icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  color: gray;
}
.menu_wrapper {
  display: flex;
  align-items: flex-start;
}

td.separator {
  padding: 4px 0;
}
td.separator div {
  padding: 0;
  height: 1px;
  background-color: #ddd;
}

.menu_label {
  line-height: 24px;
}

.popup_edit tr:hover {
  background-color: #fff;
  font-weight: bold;
  width: 245px;
}

.schedule_holder .desc {
  display: block;
  font-size: 12px;
  color: #202020;
  padding: 0;
  margin-bottom: 1em;
}

.schedule_holder .icon_list {
  padding: 5px 0px;
  display: flex;
}

.icon_scheduler {
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.no_hover {
  line-height: normal;
}

.schedule_holder .icon_list > :first-child {
  margin-left: 0px;
}

.schedule_holder .icon_list > * {
  margin-left: 12px;
}

.schedule_holder .icon_list .icon_scheduler {
  border-radius: 3px;
  height: 28px;
  width: 28px;
}
.schedule_holder .icon_list .icon_scheduler:hover {
  background-color: #f3f3f3;
  text-decoration: none;
}

.schedule_holder .icon_list .icon_suggestion {
  color: #246fe0;
}

.schedule_holder .icon_list .icon_today {
  color: #058527;
}
.schedule_holder .icon_list .icon_postpone {
  color: orange;
}
.schedule_holder .icon_list .icon_next_week {
  color: purple;
}

.schedule_holder .icon_list .icon_more {
  color: black;
}

.menu_buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_buttons li.lbl {
  color: #202020;
  margin-bottom: 1em;
}

.menu_buttons li.priorities {
  display: flex;
  margin-bottom: 5px;
}

.menu_buttons .priorities > :first-child {
  margin-left: 0px;
}
.menu_buttons .priorities > * {
  margin-left: 15px;
}

.priorities a {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 24px;
  width: 24px;
  padding: 1px;
}

.menu_buttons .priorities .a_priority:hover {
  background-color: #ddd;
}

/*88888888888 ---------------------------------------------------------------*/
.edit_updateTask {
  margin-top: 30px;
  margin-left: -20px;
}

/*-------------------PopupPriority-------------------------------------------------------------------------------*/
.dialog_content {
  position: absolute;
  width: 250px;
  margin-top: -10px;
  /* left: 700px; */
}

.dialog_nose {
  position: absolute;
  border: 6px solid transparent;
  height: 0;
  width: 0;
  border-bottom-color: #ddd;
  left: 178px;
  margin-top: -12px;
}

.dropdown_set_priority {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown_set_priority ul {
  overflow-x: hidden;
  overflow-y: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown_set_priority li {
  cursor: pointer;
}

.priority_pick_item {
  margin: 0 10px;
  padding: 6px 0;
  display: flex;
  align-items: center;
}

.priority_item_icon {
  width: 24px;
  height: 24px;
}

.priority_item_name {
  flex-grow: 1;
  margin: 0 10px;
  text-overflow: ellipsis;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.priority_item_checkmark {
  width: 14px;
  height: 14px;
  color: red;
}

.dropdown_set_priority li:hover {
  background-color: #eee;
}

/*------- Popup Project -------------------------------------------------------------------------------*/

.dropdown_set_project {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown_set_project ul {
  overflow-x: hidden;
  overflow-y: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown_set_project li {
  cursor: pointer;
}

.project_pick_item {
  margin: 0 10px;
  padding: 6px 0;
  display: flex;
  align-items: center;
}

.project_item_icon {
  color: rgb(184, 184, 184);
}

.project_item_icon::before {
  content: "";
  margin: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: currentColor;
  display: block;
}

.project_item_name {
  flex-grow: 1;
  margin: 0 10px;
  text-overflow: ellipsis;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.project_item_checkmark {
  width: 14px;
  height: 14px;
  color: red;
}

.dropdown_set_priority li:hover {
  background-color: #eee;
}

.dropdown_select_input {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.dropdown_select_input input {
  border: 0;
  line-height: 25px;
  flex-grow: 1;
  outline: 0;
}

.project_picker_emty {
  line-height: 32px;
}

.project_picker_emty > span {
  color: gray;
  padding: 0 10px;
}

.project_picker_emty button {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 4px;
  font-weight: 600;
}

.project_picker_emty button:hover {
  background-color: #eee;
}

.project_picker_emty svg {
  margin-right: 10px;
  flex-shrink: 0;
}

.option_project:hover {
  background-color: #eee;
}

/***88888888888888888  Item - Project-------------------------*/
.task_item_detail_bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 4px; */
  float: right;
}

.column_project {
  font-size: 13px;
  text-align: right;
  padding: 0 !important;
}

.project_item {
  display: flex;
  cursor: pointer;
  color: gray;
}

.project_item_name {
  padding: 0 2px;
  display: flex;
  margin: 0 2px;
}
